.middle {
  width: 100%;
}
.css-1gvxqsq {
  margin-top: 0 !important;
}
.css-1k9ek97 {
  background-color: #f7f9fc !important;
  height: 80px;
}
.css-13mdqdd-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #16324f !important;
}
.css-1cj64ok-MuiTabs-root .MuiTabs-indicatorSpan {
  background-color: #16324f !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #16324f !important;
}
.User-setting-container {
  display: flex;
  background-color: white;
  width: 100%;
}
